<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a  routerLink="/home">Anelmad</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
</button>
<!--Add here -->
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/words">Words</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- <div class="nav-container">
  <nav>
  <ul>
    <li>
        <a routerLink="/home">{{title | uppercase}}</a>
    </li>
    <li>
        <a routerLink="/home">HOME</a>
    </li>
    <li>
        <a routerLink="/about">ABOUT</a>

    </li>

    <li>
        <a routerLink="/words">WORDS</a>

    </li>

  </ul>
  </nav>

</div> -->


<router-outlet></router-outlet>

